.caiwrapper {
    position: relative;
}

.caiwrapper>img {
    width: 100%;
    height: auto;
}
.caiwrapper cai-popover {
    position: absolute;
    top: 10px;
    right: 10px;
}

.theme-spectrum {
    --cai-font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --cai-font-size-md: 0.875rem;
    --cai-font-size-sm: 0.8125rem;

    color: #2c2c2c;
}

.theme-spectrum a {
    color: #0d66d0;
}

.theme-spectrum .sections {
    border-top: solid 1px #d8d8d8;

}

.theme-spectrum cai-panel-section {
    border-bottom: solid 1px #d8d8d8;
    padding: 2px 0;
}

.theme-spectrum .sections .produced-with {
    display: flex;
}

.theme-spectrum .sections .produced-with .beta {
    color: #6e6e6e;
}

.theme-spectrum .sections .social-media>div {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.theme-spectrum::part(discrete-panel-container) {
    width: 280px;
    padding: 20px;
}

.theme-spectrum::part(section-heading-text) {
    color: #6e6e6e;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8;
    text-transform: uppercase;
}

.theme-spectrum::part(discrete-panel-view-more) {
    background-color: #1473e6;
}
.overflowText {
    overflow:hidden;
    position: relative;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;  
    width: calc(100% - 20px);  

}
.overflowText::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
}

.theme-spectrum::part(popover-popup) {
    display:none !important;
}